# Environment variables go here, can be read by `os.environ.get`:
#
#   `src/script.py`
#   ----------------------------------------------------------------
#    import os
#
#    EXAMPLE_VARIABLE = os.environ.get('EXAMPLE_VARIABLE')
#   ----------------------------------------------------------------
#
# DO NOT STORE SECRETS HERE - instead, create a separate `.secrets` file, and uncomment the `source_env '.secrets'`
# line below to import your secrets without Git tracking them.

# Import the `.secrets` secrets file - this file is NEVER Git version controlled
# source_env '.secrets'

# Add the working directory to PYTHONPATH; allows Jupyter notebooks in the `notebooks` folder to import `src`
export PYTHONPATH=$PYTHONPATH:$(pwd)
